<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies Test Detalle</title>
</head>
<body>
    Test de Peliculas - Detalle
    <ul>
        <li>
            ID: <%= movie.id %> - Nombre: <%= movie.title %> - Premios: <%= movie.awards %>
        </li>
        
    </ul>
    <a href="/test/movies">Volver a Test Movie</a>
</body>
</html>