<!DOCTYPE html>
<html lang="es-AR">

<%- include('../partials/head',{'titulo':datos.titulo}) %>

<body>
  <header>
    <div class="contenedor-header">
      <div id="logo" class="logo-header img-header">
        <img id="logo1" src="/images/PowerCore.svg" alt="PowerCore">
        <img id="logo2" src="/images/PowerCore_large.svg" alt="PowerCore">
      </div>
      <div id="search" class="form-search">
        <form class="header-form" action="#" method="GET">
          <input placeholder="Buscar productos, marcas y m치s" type="text">
          <a href="#"><i class="fa fa-search"></i></a>
        </form>
      </div>
    </div>
    <div class="contenedor-nav">

      <nav class="header-nav">
        <ul class="nav-bar">
          <li><a href="/">Inicio</a></li>
         <!-- <li><a href="#">Productos</a></li> -->
          <li><a href="/contact">Contacto</a></li>
        </ul>
        <ul class="nav-bar">
          <li><a href="/users/register">Registrarse <i class="fa-regular fa-id-card"></i></a></li>
          <li><a href="/users/login">Ingresar <i class="fas fa-user" onclick="toggleUserMenu()"></i></a></li>
          <li><a href="/products/cart">Ver Pedidos <i class="fas fa-shopping-cart"></i></a></li>
        </ul>
      </nav>
    </div>
    <div class="mob__navbar">
      <div class="nav-item home">
        <a href="/">
          <img class="img-nav" src="/images/PowerCore.svg" alt="">
        </a>
      </div>
      <div class="nav-item">
        <button class="search__mobile">
          <i class="fa-solid fa-magnifying-glass"></i>

        </button>
      </div>
      <div class="nav-item">
        <a href="/products/cart"><i class="fa-solid fa-cart-shopping"></i>
          <br>
          Carrito</a>
      </div>
      <div class="nav-item">
        <i class="fa-solid fa-bars"></i>
        Menu
      </div>
    </div>
    </div>
  </header>
  <main>
    <div class="cont air-v">
      <div class="breadcrumb">
        <a href="/">HOME</a> <span class="sep"> /CARRITO</span>
      </div>
      <div role="alert" id="success" style="display:none"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Carrito
        actualizado</div>
      <div role="alert" id="enviogratis" style="display:none"><i class="fa fa-shopping-cart"
          aria-hidden="true"></i>Envio gratis aplicado.</div>
      <div role="alert" id="danger" style="display:none"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        Hubo un error al eliminar el producto</div>
      <div id="dangercupon" style="display:none"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Cupon
        inv치lido</div>
      <div class="cart air">
        <div class="item end" style="padding:0;">
          <div class="cta" style="width:100%;justify-content: flex-end;">
            <button onclick="shareCart();" class="btn btn-outline btn-sm" name="share" id="share">Compartir
              carrito</button>
            <input class="btn btn-outline" style="display:none;width:100%; " id="texto">
            <button class="btn btn-accent" style="display:none" id="copiar">Copiar</button>
          </div>
        </div>
        <div class="item">
          <div class="image">
            <a href="#"><img src="/images/products/foto1.jpg" alt="aqui texto de imagen"></a>
          </div>
          <div class="meta">
            <div class="title"><a href="#">
                <h2>PC ARMADA AMD ATHLON 3000G + 8GB + 240GB + KIT</h2>
              </a></div>
            <div class="options">
              <ul>
                <li><a style="cursor:pointer" onclick="quickAddCart(11398,0)">Eliminar</a></li>
              </ul>
            </div>
          </div>
          <div class="qty">
            <form action="javascript:void(0)" id="cartUpdate11398">
              <input type="hidden" name="idprod" value="11398">
              <button onclick="decrementValue('11398');cartUpdate(11398);"><i class="fas fa-minus"></i></button>
              <input style="width: 60px;text-align: center;" onchange="cartUpdate(11398);" class="form-input" type="number" step="1" min="0" max="20" name="quantity" id="prod-qty11398" value="1" title="Cantidad" inputmode="numeric">
              <button onclick="incrementValue('11398');cartUpdate(11398);"><i class="fas fa-plus"></i></button>
            </form>
          </div>
          <div class="price">$235.569,93</div>
        </div>
        <div class="item cart-opc">
          <div class="qty-products">
            <div class="color-accent">Productos</div>
            <div>1</div>
          </div>
          <div class="subtotal">
            <div class="color-accent">Subtotal</div>
            <div>$<span id="subtotal">235.569,93</span></div>
          </div>
          <div id="cuponsection" class="subtotal" style="display:none">
            <div class="color-accent">Cup칩n</div>
            <div>- $<span id="cupontext">0</span></div>
          </div>
          <span hidden="" id="subtotal2">235569.93</span>
          <span hidden="" id="origsubtotal">235569.93</span>
          <span hidden="" id="pagomet">1</span>
          <span hidden="" id="totallista">259126.923</span>
          <span hidden="" id="origtotallista">259126.923</span>
          <div class="total">
            <div class="color-accent">Total</div>
            <div>$<span id="total">235.569,93</span></div>
          </div>
        </div>
        <div class="item end">
          <div class="cta">
            <button data-modal="#vaciar" class="btn btn-outline" name="modal">Vaciar carrito</button>
            <button data-modal="#coupon" class="btn btn-outline" name="modal">Tengo un cup칩n</button>
            <button data-modal="#paymethods" class="btn btn-accent" name="modal">Comprar</button>
          </div>
        </div>
      </div>
    </div>
  </main>

  <%- include('../partials/footer',{'pie':datos.pie}) %>

  <%- include('../partials/script') %>
</body>

</html>