<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PowerCoreHard Online</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>PRUEBA RAPIDA DE MVC CORRECTO - PRODUCT CART</h1>
    <ul>
        <li><a href="/">Index</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/productCart">Product Cart</a></li>
        <li><a href="/productDetail">Product Detail</a></li>
    </ul>
    <hr>
    <a href="/"> <-----VOLVER</a>
    <!-- aqui script -->
    <script src="/js/function.js"></script>
</body>
</html>