<div class="admin-flotante">
    <ul>
        <li>
            <a href="crear_produto.html">
                <img src="/images/iconos/plus.png">
                <span>Agregar Producto</span>
            </a>
        </li>
    </ul>
</div>