<footer class="footer">
    <section class="informacion-footer">
        <div class="titulo-block">
            <h3>Nuestros Medios de Cobro</h3>
        </div>
        <div class="informacion-cobro">
            <img class="cobro-icono" src="../images/medios_de_cobro/visa.svg">
            <img class="cobro-icono"  src="../images/medios_de_cobro/payu.svg">
            <img class="cobro-icono"  src="../images/medios_de_cobro/paypal.svg">
            <img class="cobro-icono"  src="../images/medios_de_cobro/maestro.png">
            <img class="cobro-icono"  src="../images/medios_de_cobro/mastercard.svg">
            <img class="cobro-icono"  src="../images/medios_de_cobro/mercadopago.png">
            <img class="cobro-icono"  src="../images/medios_de_cobro/deposito.png">
            <img class="cobro-icono"  src="../images/medios_de_cobro/naranja.png">
            <img class="cobro-icono"  src="../images/medios_de_cobro/rapipago.svg">
            <img class="cobro-icono"  src="../images/medios_de_cobro/pagofacil.png">
        </div>

    </section>
</footer>