<footer class="display-footer">
  <section>
    <h1><i class="fa-solid fa-credit-card agrandar-icon"></i></h1>
    <p class="texto-negrita">Pagá con tarjeta o en efectivo</p>
    <p class="parrafo">Con MPowerCore, tenés cuotas sin interés con tarjeta o efectivo en puntos de
      pago. ¡Y siempre es seguro!</p>
  </section>
  <section>
    <h1><i class="fa-solid fa-gift agrandar-icon"></i></h1>
    <p class="texto-negrita">Envíos desde $ 1.000</p>
    <p class="parrafo">Solo por estar registrad@ en PowerCore tenés envíos a muy bajo costo.</p>
  </section>
  <section>
    <h1><i class="fa-solid fa-user-shield agrandar-icon"></i></h1>
    <p class="texto-negrita">Seguridad, de principio a fin</p>
    <p class="parrafo">¿No te gusta? ¡Devolvelo! En PowerCore, no hay nada que no puedas hacer, porque
      estás siempre protegid@.</p>
  </section>
    
    <p class="">Copyright © 2023-2024 PowerCore S.R.L.</p>
 

</footer>