<header class="header">
    <div class="header-top">
        <div class="header-top-left">
            <a href="/"><img src="/images/fondos/mamon.png"></a>
            <h3>Merchant of Mammon</h3>
        </div>
        <div class="server-online">
            <div class="online-dot"></div>
            <div class="info-server">
                <span class="online-text">Online:</span>
                <span class="online-count">1874</span>
            </div>
        </div>
        <div class="header-top-right">
            <a href="/usuarios/perfil">
                <div class="header-info-avatar">
                    <% if(infoUsuario!=null){ %>
                        <span class="header-info-avatar-usuario"><%=infoUsuario.apellido %> <%=infoUsuario.nombre %></span>
                        <img class="header-avatar" src="/images/autores/<%=infoUsuario.avatar  %>">
                    <% }else{ %>
                        <span class="header-info-avatar-usuario">Invitado</span>
                        <img class="header-avatar" src="/images/autores/avatar-male.jpg">
                    <% } %>
                    
                </div>
            </a>
        </div>
    </div>
    <div class="header-bottom">
        <ul class="header-menu-nav">
            <li class="header-menu-home oculto">
                <a href="#"  class="header-menu-link">
                    <i class="fa-solid fa-home"> Inicio</i>
                </a>
            </li>
            <li class="header-menu-search oculto">
                <input type="search" name="buscar" placeholder="Buscar...">
                <button class="btnsearch"><i class="fa-solid fa-search"></i></button>
            </li>
            <li>
                <a href="/#venta-compra"  class="header-menu-link">
                    <i class="fa-solid fa-exchange-alt"></i> Venta/Compra
                </a>
            </li>
            <li>
                <a href="/productos/buscador"  class="header-menu-link">
                    <i class="fa-solid fa-star"></i> Buscador de Items
                </a>
            </li>
            <li>
                <a href="/nosotros"  class="header-menu-link">
                    <i class="fa-solid fa-users"></i> Quiénes somos
                </a>
            </li>
            
            <li>
                <a href="/usuarios/contacto"  class="header-menu-link">
                    <i class="fa-solid fa-envelope"></i> Contactarnos
                </a>
            </li>
            
            <li>
                <a href="/usuarios/login"  class="header-menu-link">
                    <i class="fa-solid fa-user"></i> Login/Registrarse
                </a>
            </li>
            
        </ul>
        <div class="tiene-carrito">
            <a href="/productos/carrito"  class="tiene-carrito-link">
                <i class="fas fa-shopping-cart"></i>
            </a>
        </div>
    </div>
    
</header>