<header class="header">
    <div class="header-top">
        <div class="header-top-left">
            <a href="index.html"><img src="/images/fondos/mamon.png"></a>
            <h3>Merchant of Mammon</h3>
        </div>
        <div class="server-online">
            <div class="online-dot"></div>
            <div class="info-server">
                <span class="online-text">Online:</span>
                <span class="online-count">1874</span>
            </div>
        </div>
        <div class="header-top-right">
            <a href="perfil.html">
                <div class="header-info-avatar">
                    
                    <span class="header-info-avatar-usuario">MasterDjmov</span>
                    <img class="header-avatar" src="/images/iconos/avatar-male.jpg">
                </div>
            </a>
        </div>
    </div>
    <div class="header-bottom">
        <ul class="header-menu-nav">
            <li class="header-menu-home oculto">
                <a href="#"  class="header-menu-link">
                    <i class="fa-solid fa-home"> Inicio</i>
                </a>
            </li>
            <li class="header-menu-search oculto">
                <input type="search" name="buscar" placeholder="Buscar...">
                <button class="btnsearch"><i class="fa-solid fa-search"></i></button>
            </li>
            <li>
                <a href="/#venta-compra"  class="header-menu-link">
                    <i class="fa-solid fa-exchange-alt"></i> Venta/Compra
                </a>
            </li>
            <li>
                <a href="buscador_items.html"  class="header-menu-link">
                    <i class="fa-solid fa-star"></i> Buscador de Items
                </a>
            </li>
            <li>
                <a href="quienes_somos.html"  class="header-menu-link">
                    <i class="fa-solid fa-users"></i> Quiénes somos
                </a>
            </li>
            
            <li>
                <a href="contacto.html"  class="header-menu-link">
                    <i class="fa-solid fa-envelope"></i> Contactarnos
                </a>
            </li>
            
            <li>
                <a href="login.html"  class="header-menu-link">
                    <i class="fa-solid fa-user"></i> Login/Registrarse
                </a>
            </li>
            
        </ul>
        <div class="tiene-carrito">
            <a href="carrito.html"  class="tiene-carrito-link">
                <i class="fas fa-shopping-cart"></i>
            </a>
        </div>
    </div>
    
</header>