<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head',{'titulo':datos.titulo}) %>
</head>
<body>
    aqui edit admin

    <%- include('../partials/footer',{'pie':datos.pie}) %>
    <%- include('../partials/script') %>
</body>
</html>