<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 - Página no encontrada</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #ffffff;
            background-image: url('/images/404.png');
            background-repeat: no-repeat; /* Evita que la imagen se repita */
            background-position: center;  /* Centra la imagen en el contenedor */
            background-size: 100% 100%;   /* Hace que la imagen ocupe el 100% del ancho y alto */
            color: #333;
            text-align: center;
            padding: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 680px;
            max-width: 100%;
            max-height: 100%;
        }
        .error-container {
           
            max-width: 600px;
            margin: 0 auto;
            background-color: #fff;
            padding: 30px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            font-size: 36px;
            margin-bottom: 20px;
        }
        p {
            font-size: 18px;
            line-height: 1.6;
            margin-bottom: 20px;
        }
        a {
            margin-top: 40rem;
            color: #007bff;
            text-decoration: none;
            font-size: 35px;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <a href="/">
        Volver a Inicio
    </a>
</body>
</html>
